<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="PcsCalcdbConnectionString"
			  providerName="System.Data.SqlClient"
			  connectionString="Data Source=AKEMA\MSSQLSERVER03;Initial Catalog=pcs-calcdb;Persist Security Info=True;User ID=batchuser;Password=batchuser"/>
	</connectionStrings>
</configuration>