<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="PcsCalcdbConnectionString" connectionString="Data Source=AKEMA\SQLEXPRESS;Initial Catalog=pcs-calcdb;Persist Security Info=True;User ID=batchuser;Password=batchuser"
      providerName="System.Data.SqlClient" />
    <add name="Pasco.FareCalcLib.Properties.Settings.pcs_calcdbConnectionString"
      connectionString="Data Source=AKEMA\SQLEXPRESS;Initial Catalog=pcs-calcdb;User ID=batchuser;Password=batchuser"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>